In [ ]:
# Variables
name = "Alice"
age = 30
height = 5.8

# Data Types
print(type(name))   # <class 'str'>
print(type(age))    # <class 'int'>
print(type(height)) # <class 'float'>

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
a = 10
b = 5

# Addition
print(a + b)  # 15

# Subtraction
print(a - b)  # 5

# Multiplication
print(a * b)  # 50

# Division
print(a / b)  # 2.0

# Exponentiation
print(a ** b) # 100000

15
5
50
2.0
100000

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

In [ ]:
# For loop
for i in range(5):
    print(i) # prints 0 to 4

# While loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4
0
1
2
3
4

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Accessing elements
print(my_list[0])   # 1

# Slicing
print(my_list[1:3]) # [2, 3]

# Modifying elements
my_list[2] = 10
print(my_list)      # [1, 2, 10, 4, 5]

# Appending elements
my_list.append(6)
print(my_list)      # [1, 2, 10, 4, 5, 6]

1
[2, 3]
[1, 2, 10, 4, 5]
[1, 2, 10, 4, 5, 6]

In [1]:
my_list = [1, 2, 3, 4, 5]

# Removing by value
my_list.remove(3)
print(my_list)  # [1, 2, 4, 5]

# Removing by index
del my_list[2]
print(my_list)  # [1, 2, 5]

# Removing the last element
my_list.pop()
print(my_list)  # [1, 2]

[1, 2, 4, 5]
[1, 2, 5]
[1, 2]

In [2]:
# Adding at the end
my_list.append(6)
print(my_list)  # [1, 2, 6]

# Adding at a specific position
my_list.insert(2, 3)
print(my_list)  # [1, 2, 3, 6]

# Adding multiple elements
my_list.extend([4, 5])
print(my_list)  # [1, 2, 3, 6, 4, 5]

[1, 2, 6]
[1, 2, 3, 6]
[1, 2, 3, 6, 4, 5]

In [3]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [4]:
my_list = [5, 2, 8, 3, 1]
sorted_list = sorted(my_list)
print("Sorted list:", sorted_list)

Sorted list: [1, 2, 3, 5, 8]

In [5]:
my_tuple = (1, 2, 3, 1, 4, 1)
element_to_count = 1
count = my_tuple.count(element_to_count)
print("Occurrences of {}: {}".format(element_to_count, count))

Occurrences of 1: 3